<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/crf_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.NMC"
            tools:targetApi="31">
        <activity
                android:name=".ApiTestActivity"
                android:exported="false"/>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBtS_g-BvrN37NFrFL8DFDplhl-xTC6cT4"/>

        <activity
                android:name=".MapsActivity"
                android:exported="false"
                android:label="@string/title_activity_maps"/>
        <activity
                android:name=".DatabaseActivity"
                android:exported="false"/>
        <activity
                android:name=".RecyclerViewExample"
                android:exported="false"/>
        <activity
                android:name=".CustomListViewExample"
                android:exported="false"/>
        <activity
                android:name=".listViewExample"
                android:exported="false"/>
        <activity
                android:name=".dialogueExample"
                android:exported="false"/>
        <activity
                android:name=".PopupMenuExample"
                android:exported="false"/>
        <activity
                android:name=".OptionMenu"
                android:exported="false"
                android:label="@string/title_activity_option_menu"
                android:theme="@style/Theme.NMC"/>
        <activity
                android:name=".FragementDemoActivity"
                android:exported="false"/>
        <activity
                android:name=".ParseActivityTwo"
                android:exported="false"/>
        <activity
                android:name=".ParseActivityOne"
                android:exported="false"/>
        <activity
                android:name=".ConstraintLayout"
                android:exported="false"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".CalculateSum"
                android:exported="true">
        </activity>
        <activity
                android:name=".TableLayout"
                android:exported="true">
        </activity>
        <activity
                android:name=".RelativeLayout"
                android:exported="true">
        </activity>
        <activity
                android:name=".AbsoluteLayout"
                android:exported="true">
        </activity>
        <activity
                android:name=".LeanerLayout"
                android:exported="true">
        </activity>
    </application>

</manifest>